*{
    color: white;
}
/* ****************** */
/* COLOR SECTION */
/* ****************** */

.b-green{
    background-color: #1abc9c;
}

.b-magenta{
    background-color: #ba4b63;
}

.b-azure{
    background-color: #1ea4b6;
}

.b-brown{
    background-color: #140f0f;
}

.b-light-blue{
    background-color: #1c83c1;
}

.b-blue{
    background-color: #0e38b5;
}

.b-beige{
    background-color: #ccb2a3;
}

.c-blue{
    color: #333333;
}